/* GENERAL */

body {
  margin: 0;
  height: 100vh;
}

nav {
  position: fixed;
  top: 0;
  right: 5px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
}

/* HOME */

.homeProfilePicture {
  border-radius: 50%;
  @include media_up(ssm) {
    width: 80%;
    margin-bottom: 20px;
  };
  @include media_up(md) {
    width: 60%;
  };
  @include media_up(lg) {
    width: 40%;
  };
}

/* PRESENTATION */

.presentationSection {
  align-items: center;
  @include media_up(ssm) {
    @include d_flex(column, space-between);
  };
  @include media_up(xl) {
    @include d_flex(row, space-between);
  };
}

.presentationDiv {
  @include d_flex(column, center);
  align-items: center;
}

.mainPresentationVideo {
  @include media_up(ssm) {
    max-width: 90%;
  };
  @include media_up(xl) {
    max-width: 70%;
  };
}

.presentationCVButton {
  width: 8rem;
}

.reviewText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}

.reviewText:hover {
  display: block;
}

/* CONTACT */

.contactOl {
  list-style-type: none;
}
